@keyframes truckMoveIn {
    0% {
        transform: translateX(-500%) rotateY(180deg);
    }

    100% {
        transform: translate(0) rotateY(180deg);
    }
}

@for $i from 1 through 9 {
    @keyframes iconShown#{$i} {
        0% {
            opacity: 0;
            transform: rotate(15deg);
        }

        #{($i - 1) * 10 + 5}% {
            opacity: 0;
            transform: rotate(15deg);
        }

        #{$i * 10}% {
            opacity: 1;
            transform: rotate(0deg);
        }
    }
}


