.delivery {
    font-family: Arial, Helvetica, sans-serif;
    margin-right: auto;
    margin-left: auto;
    width: 83.3%;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    color: #444;

    &__header {
        padding: 25px 10px;
        font-weight: bold;
        text-transform: uppercase;
        color: #003a74;
        text-align: center;
        max-width: 900px;
        margin: auto;

        h2 {
            @media (max-width: 670px) {
                font-size: 30px;
            }

            @media (min-width: 670px) and (max-width: 750px) {
                font-size: 40px;
            }

            @media (min-width: 750px) and (max-width: 800px) {
                font-size: 45px;
            }

            @media (min-width: 800px) and (max-width: 930px) {
                font-size: 50px;
            }

            @media (min-width: 930px) {
                font-size: 60px;
            }

            padding: 10px;
            margin: 0;
            font-weight: bold;
        }
    }

    &_icons {
        max-width: 900px;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
        align-items: baseline;

        i {
            color: #f12e18;
        }

        @for $i from 1 through 9 {
            i:nth-child(#{$i}) {
                font-size: 5vw;
                animation-name: iconShown#{$i};
                animation-timing-function: linear;
                animation-duration: 5.5s;
            }
        }

        .fa-truck {
            font-size: 12vw;
            transform: rotateY(180deg);

            animation-name: truckMoveIn;
            animation-duration: 5s;
            animation-timing-function: linear;
        }
    }

    &__table {
        &-header {
            font-weight: bold;
            text-transform: uppercase;
        }

        .delivery-options {
            font-size: 15px;
            font-weight: bold;
            text-transform: uppercase;
        }

        tr {
            border-bottom: 1px solid #dee2e6;
        }
    }
}
