@-webkit-keyframes truckMoveIn {
  0% {
    -webkit-transform: translateX(-400%) rotateY(180deg);
            transform: translateX(-400%) rotateY(180deg);
  }

  100% {
    -webkit-transform: translate(0) rotateY(180deg);
            transform: translate(0) rotateY(180deg);
  }
}

@keyframes truckMoveIn {
  0% {
    -webkit-transform: translateX(-400%) rotateY(180deg);
            transform: translateX(-400%) rotateY(180deg);
  }

  100% {
    -webkit-transform: translate(0) rotateY(180deg);
            transform: translate(0) rotateY(180deg);
  }
}

@-webkit-keyframes iconShown1 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  5% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  10% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes iconShown1 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  5% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  10% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes iconShown2 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  15% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  20% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes iconShown2 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  15% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  20% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes iconShown3 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  25% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  30% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes iconShown3 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  25% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  30% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes iconShown4 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  35% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  40% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes iconShown4 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  35% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  40% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes iconShown5 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  45% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  50% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes iconShown5 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  45% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  50% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes iconShown6 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  55% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  60% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes iconShown6 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  55% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  60% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes iconShown7 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  65% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  70% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes iconShown7 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  65% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  70% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes iconShown8 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  75% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  80% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes iconShown8 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  75% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  80% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999;
}

.tt-menu {
  /* used to be tt-dropdown-menu in older versions */
  width: 422px;
  margin-top: 4px;
  padding: 4px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.tt-suggestion {
  padding: 3px 20px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor,
.tt-suggestion:hover {
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion p {
  margin: 0;
}

.click-and-collect {
  font-family: Arial, Helvetica, sans-serif;
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
  width: 100%;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  color: #444;
}

.click-and-collect__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
  padding: 25px 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: #003a74;
  text-align: center;
}

.click-and-collect__header p {
  margin-bottom: 0;
}

.click-and-collect__header span {
  color: #d33333;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.click-and-collect__top-icons {
  margin: 0 -10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.click-and-collect__top-icons div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  margin: 0 5px 15px 5px;
  -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.1);
  width: calc(100% - 10px);
  vertical-align: middle;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 768px) {
  .click-and-collect__top-icons div {
    width: calc(33.33333% - 10px);
  }
}

.click-and-collect__top-icons div i {
  color: #f12e18;
  font-size: 45px;
  padding: 15px 0 15px 15px;
  width: 60px;
  text-indent: 0;
  height: auto;
  background: none;
}

.click-and-collect__top-icons div h2 {
  font-size: 16px !important;
  font-weight: bold;
  color: #003a74;
  padding: 15px;
  text-transform: uppercase;
  margin: 0;
}

.click-and-collect__heading {
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

.click-and-collect__heading h2 {
  padding: 10px;
  margin: 0;
  font-size: 18px !important;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

@media (min-width: 768px) {
  .click-and-collect__heading h2 {
    font-size: 25px !important;
  }
}

.click-and-collect__heading .red {
  background: #f12e18;
}

.click-and-collect__heading .blue {
  background: #003a74;
}

.click-and-collect__description-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 10px 0;
}

.click-and-collect__description-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: calc(100% - 10px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin: 10px 0;
}

@media (min-width: 900px) {
  .click-and-collect__description-item {
    min-height: 386px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: calc(25% - 10px);
  }
}

.click-and-collect__description-item i {
  color: #d33333;
  font-size: 45px;
  vertical-align: middle;
  text-indent: 0;
  height: auto;
  background: none;
}

@media (min-width: 900px) {
  .click-and-collect__description-item i {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 10px;
  }
}

@media (min-width: 900px) {
  .click-and-collect__description-item i:before {
    background: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.1);
    padding: 13px;
    display: inline-block;
    width: 71px;
  }
}

.click-and-collect__description-item ul {
  margin: 0;
  padding-left: 30px;
}

.click-and-collect__description-item li {
  padding-bottom: 14px;
  font-size: 12px;
  line-height: 1.3;
  list-style: initial;
}

@media (max-width: 900px) {
  .click-and-collect__description-textarea {
    padding-left: 15px;
  }
}

.click-and-collect__description-heading {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 20px;
}

@media (min-width: 900px) {
  .click-and-collect__description-heading {
    text-align: center;
  }
}

.click-and-collect__description-icon-wrapper {
  min-width: 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.delivery {
  font-family: Arial, Helvetica, sans-serif;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  color: #444;
  max-width: 1140px;
  width: 100%;
}

.delivery__header {
  padding: 25px 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: #003a74;
  text-align: center;
  max-width: 900px;
  margin: auto;
}

.delivery__header h2 {
  padding: 10px;
  margin: 0;
  font-weight: bold;
}

@media (max-width: 670px) {
  .delivery__header h2 {
    font-size: 30px;
  }
}

@media (min-width: 670px) and (max-width: 750px) {
  .delivery__header h2 {
    font-size: 40px;
  }
}

@media (min-width: 750px) and (max-width: 800px) {
  .delivery__header h2 {
    font-size: 45px;
  }
}

@media (min-width: 800px) and (max-width: 930px) {
  .delivery__header h2 {
    font-size: 50px;
  }
}

@media (min-width: 930px) {
  .delivery__header h2 {
    font-size: 60px;
  }
}

.delivery_icons {
  max-width: 900px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.delivery_icons i {
  color: #f12e18;
  padding: 0 1vw;
}

@media (min-width: 1200px) {
  .delivery_icons i {
    padding: 0 12px;
  }
}

.delivery_icons i:nth-child(1) {
  font-size: 5vw;
  -webkit-animation-name: iconShown1;
          animation-name: iconShown1;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 5.5s;
          animation-duration: 5.5s;
}

@media (min-width: 1200px) {
  .delivery_icons i:nth-child(1) {
    font-size: 60px;
  }
}

.delivery_icons i:nth-child(2) {
  font-size: 5vw;
  -webkit-animation-name: iconShown2;
          animation-name: iconShown2;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 5.5s;
          animation-duration: 5.5s;
}

@media (min-width: 1200px) {
  .delivery_icons i:nth-child(2) {
    font-size: 60px;
  }
}

.delivery_icons i:nth-child(3) {
  font-size: 5vw;
  -webkit-animation-name: iconShown3;
          animation-name: iconShown3;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 5.5s;
          animation-duration: 5.5s;
}

@media (min-width: 1200px) {
  .delivery_icons i:nth-child(3) {
    font-size: 60px;
  }
}

.delivery_icons i:nth-child(4) {
  font-size: 5vw;
  -webkit-animation-name: iconShown4;
          animation-name: iconShown4;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 5.5s;
          animation-duration: 5.5s;
}

@media (min-width: 1200px) {
  .delivery_icons i:nth-child(4) {
    font-size: 60px;
  }
}

.delivery_icons i:nth-child(5) {
  font-size: 5vw;
  -webkit-animation-name: iconShown5;
          animation-name: iconShown5;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 5.5s;
          animation-duration: 5.5s;
}

@media (min-width: 1200px) {
  .delivery_icons i:nth-child(5) {
    font-size: 60px;
  }
}

.delivery_icons i:nth-child(6) {
  font-size: 5vw;
  -webkit-animation-name: iconShown6;
          animation-name: iconShown6;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 5.5s;
          animation-duration: 5.5s;
}

@media (min-width: 1200px) {
  .delivery_icons i:nth-child(6) {
    font-size: 60px;
  }
}

.delivery_icons i:nth-child(7) {
  font-size: 5vw;
  -webkit-animation-name: iconShown7;
          animation-name: iconShown7;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 5.5s;
          animation-duration: 5.5s;
}

@media (min-width: 1200px) {
  .delivery_icons i:nth-child(7) {
    font-size: 60px;
  }
}

.delivery_icons i:nth-child(8) {
  font-size: 5vw;
  -webkit-animation-name: iconShown8;
          animation-name: iconShown8;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 5.5s;
          animation-duration: 5.5s;
}

@media (min-width: 1200px) {
  .delivery_icons i:nth-child(8) {
    font-size: 60px;
  }
}

.delivery_icons .fa-truck {
  font-size: 12vw;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-animation-name: truckMoveIn;
          animation-name: truckMoveIn;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@media (min-width: 1200px) {
  .delivery_icons .fa-truck {
    font-size: 144px;
  }
}

@media (max-width: 412px) {
  .delivery__table {
    font-size: 77%;
  }
}

.delivery__table-header {
  font-weight: bold;
  text-transform: uppercase;
}

.delivery__table .delivery-options {
  font-weight: bold;
  text-transform: uppercase;
}

@media (min-width: 412px) {
  .delivery__table .delivery-options {
    font-size: 15px;
  }
}

.delivery__table tr {
  border-bottom: 1px solid #dee2e6;
}

.product-type {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.product-type-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  margin-right: -15px;
  margin-left: -15px;
}

.product-type-wrapper .filter-column {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 990px) {
  .product-type-wrapper .filter-column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
}

.product-type-wrapper .filter-column .selected-filter {
  padding: 10px 0 10px 0;
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #ebebeb;
}

.product-type-wrapper .filter-column .selected-filter h6 {
  margin: 0 0 0 20px;
}

.product-type-wrapper .filter-column .selected-filter h6 i {
  background-color: white;
  padding: 3px;
}

.product-type-wrapper .filter-column .selected-filter ul {
  margin-bottom: 0;
  list-style: none;
}

.product-type-wrapper .filter-column .selected-filter ul li {
  margin: 3px 0 3px 0;
}

.product-type-wrapper .filter-column .filter-items {
  border: 1px solid #c9c9c9;
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;
}

.product-type-wrapper .filter-column .filter-items .product-filter ul {
  list-style: none;
}

.product-type-wrapper .filter-column .filter-items .product-filter .filter-header {
  margin-top: 16px;
}

.product-type-wrapper .filter-column .filter-items .product-filter .filter-header div {
  margin-top: 10px;
}

.product-type-wrapper .filter-column .filter-items .product-filter hr {
  margin-top: 5px;
}

.product-type-wrapper .filter-column .filter-items .product-filter .filter-body .price-range-heading-wrapper {
  margin-bottom: 20px;
}

.product-type-wrapper .filter-column .filter-items .product-filter .filter-body .country-heading-wrapper {
  margin-bottom: 20px;
}

.product-type-wrapper .filter-column .filter-items .product-filter .filter-body .country #country-ul {
  display: none;
}

.product-type-wrapper .filter-column .filter-items .product-filter .filter-body .brand #brand-ul {
  display: none;
}

.product-type-wrapper .item-column {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 990px) {
  .product-type-wrapper .item-column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
}

.product-type-wrapper .item-column .sort-items-wrapper {
  margin: 10px 0 15px 0;
}

.product-type-wrapper .item-column .sort-items-wrapper .sort-by {
  padding: 0.375rem 0 0.375rem 0;
}

.product-type-wrapper .item-column .products-found {
  margin-bottom: 15px;
}

.product-type-wrapper .item-column .item {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 768px) {
  .product-type-wrapper .item-column .item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333333%;
            flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
}

@media (max-width: 768px) {
  .product-type-wrapper .item-column .item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

.product-type-wrapper .item-column .item .product-tile-price-big {
  color: #D2232A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-type-wrapper .item-column .item .product-tile-price-big .price {
  font-size: 22px;
  font-weight: 900;
  vertical-align: top;
}

.product-type-wrapper .item-column .item .product-tile-price-big .price .currency {
  font-size: 12px;
}

.product-type-wrapper .item-column .item .product-tile-price-big .price .cents {
  font-size: 12px;
}

.product-type-wrapper .item-column .item .product-tile-price-big .price-des {
  font-size: 12px;
  margin-left: 5px;
  margin-top: 7px;
}

.product-type-wrapper .item-column .item .add-item-counter {
  text-align: center;
}

.product {
  max-width: 1140px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.product .image-column {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 990px) {
  .product .image-column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333333%;
            flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
}

.product .image-column div {
  max-width: 100%;
}

.product .image-column div img {
  width: 100%;
}

.product .description-column {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 990px) {
  .product .description-column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66666667%;
            flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
  }
}

.product .lSNext {
  background-color: lightgray;
  border-radius: 50%;
  background-position: 31px 0 !important;
}

.product .lSPrev {
  background-color: lightgray;
  border-radius: 50%;
  background-position: 2px 0 !important;
}

@media (max-width: 990px) {
  .product .recommendation-slider {
    display: none;
  }
}

.product .recommendation-slider .recommended-item {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.bundle-image {
  max-height: 300px;
  margin: auto;
}

@media (max-width: 412px) {
  .bundle-image {
    max-width: 395px;
  }
}

@media (max-width: 395px) {
  .bundle-image {
    max-width: 360px;
  }
}

@media (max-width: 360px) {
  .bundle-image {
    max-width: 340px;
  }
}

.order-and-payment {
  font-family: Arial, Helvetica, sans-serif;
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
  width: 100%;
  position: relative;
  margin: auto;
  padding-top: 50px;
  padding-right: 25px;
  padding-left: 25px;
}

.order-and-payment h1 {
  font-weight: bold;
}

.empty-cart .row .message-area h3 {
  margin-top: 20px;
}

.empty-cart .row .message-area p {
  margin-top: 20px;
}

.empty-cart .row .button-area {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.payment form .buttons {
  margin: 0;
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  .payment form .buttons {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66666667%;
            flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
  }
}

.payment form .buttons #return-button {
  text-transform: uppercase;
}

@media (max-width: 450px) {
  .payment form .buttons #return-button {
    font-size: 0.7rem;
    width: 110px;
  }
}

.payment form .buttons #order-spinner {
  display: none;
  margin-right: 10px;
}

.payment form .buttons #submit-btn {
  background-color: #0068a1;
  color: white;
  text-transform: uppercase;
  width: 145px;
}

@media (max-width: 450px) {
  .payment form .buttons #submit-btn {
    font-size: 0.7rem;
    width: 110px;
  }
}

.viewcart {
  max-width: 1140px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.viewcart-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 91.66666667%;
          flex: 0 0 91.66666667%;
  max-width: 91.66666667%;
  margin: 0 auto;
}

.viewcart-wrapper .page-title {
  margin: 20px 0 0 0;
}

.viewcart .item-wrapper .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 650px) {
  .viewcart .item-wrapper .item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.viewcart .item-wrapper .item-info-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 650px) {
  .viewcart .item-wrapper .item-info-wrap {
    width: 100%;
  }
}

.viewcart .item-wrapper .item-info-wrap img {
  max-height: 190px;
  max-width: 190px;
}

@media (max-width: 450px) {
  .viewcart .item-wrapper .item-info-wrap img {
    max-height: 130px;
    max-width: 130px;
  }
}

.viewcart .item-wrapper .item-info-wrap .item-info {
  margin-left: 16px;
}

.viewcart .item-wrapper .item-info-wrap .item-info .item-name {
  color: red;
}

@media (max-width: 650px) {
  .viewcart .item-wrapper .item-checkout-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.viewcart .item-wrapper .item-checkout-info .quantity-and-update {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 650px) {
  .viewcart .item-wrapper .item-checkout-info .quantity-and-update {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.viewcart .item-wrapper .item-checkout-info .quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.viewcart .item-wrapper .item-checkout-info .update-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 1rem;
}

.viewcart .item-wrapper .item-checkout-info .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.viewcart .item-wrapper .item-checkout-info .price p {
  margin: 1rem 0;
}

@media (max-width: 650px) {
  .viewcart .item-wrapper .item-checkout-info .price p {
    margin: 0 0 2rem 0;
  }
}

.viewcart .item-wrapper .item-checkout-info .remove-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.viewcart .botton-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.viewcart .botton-heading .continue-shopping-span {
  padding-bottom: 10px;
}

.viewcart .botton-heading .checkout-btn {
  background-color: red;
  color: white;
}

.container.marketing hr {
  margin: 30px 0;
}

.container.marketing h1 {
  font-weight: bold;
}

.container.marketing .delivery-order-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container.marketing .delivery-order-info-item {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 1.5rem;
  text-align: center;
}

@media (min-width: 992px) {
  .container.marketing .delivery-order-info-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333333%;
            flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
}

.container.marketing .delivery-order-info-item a {
  font-weight: bold;
  color: red;
}

.container.marketing .delivery-order-info-description {
  min-height: 60px;
}

.container.marketing .delivery-order-info-description p {
  margin: 0;
}

.container.marketing .bundle-container,
.container.marketing .product-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

.container.marketing .bundle-container .card-wrapper,
.container.marketing .product-container .card-wrapper {
  padding: 0 15px;
}

@media (min-width: 1000px) {
  .container.marketing .bundle-container .card-wrapper,
  .container.marketing .product-container .card-wrapper {
    width: 25%;
  }
}

@media (max-width: 1000px) {
  .container.marketing .bundle-container .card-wrapper,
  .container.marketing .product-container .card-wrapper {
    width: 50%;
  }
}

@media (max-width: 412px) {
  .container.marketing .bundle-container .card-wrapper .card-text,
  .container.marketing .product-container .card-wrapper .card-text {
    font-size: 1rem;
  }
}

@media (max-width: 374px) {
  .container.marketing .bundle-container .card-wrapper .card-text,
  .container.marketing .product-container .card-wrapper .card-text {
    font-size: 0.9rem;
  }
}

.card-text {
  font-weight: bold;
  height: 34px;
}

header {
  border-top: 11px #d2232a solid;
  background: #252d6c;
}

header nav {
  min-height: 120px;
  max-width: 1140px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

header nav .header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

header nav .header-top .logo {
  width: 30%;
  padding-left: 15px;
}

header nav .header-top .search-box {
  width: 50%;
}

@media (max-width: 800px) {
  header nav .header-top .search-box form {
    display: none;
  }
}

header nav .header-top .search-box form .twitter-typeahead,
header nav .header-top .search-box form input {
  width: calc(100% - 50px);
}

header nav .header-top .basket {
  width: 20%;
}

@media (max-width: 530px) {
  header nav .header-top .basket {
    width: 28%;
  }
}

header nav .header-top .basket div {
  max-width: 100px;
}

header nav .header-top .basket .white-space {
  background-color: white;
  padding: 5px 10px;
  border-radius: 5px 5px 0 0;
  height: 40px;
  margin-left: auto;
  margin-right: 15px;
}

header nav .header-top .basket .white-space span {
  margin-left: 15px;
  font-weight: bold;
}

header nav .header-top .basket .red-space {
  padding: 10px 10px;
  border-radius: 0 0 5px 5px;
  background-color: red;
  height: 40px;
  color: white;
  font-weight: bold;
  margin-left: auto;
  margin-right: 15px;
}

header nav .header-top .basket .red-space .checkout-link {
  color: white;
  text-decoration: none;
}

@media (max-width: 570px) {
  header nav .header-top .basket .red-space .checkout-link {
    font-size: 0.7rem;
  }
}

header nav .header-bottom .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header nav .header-bottom .navbar-nav .nav-item {
  padding: 15px 11px 15px 15px;
}

header nav .header-bottom .navbar-nav .nav-item a {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 530px) {
  header nav .header-bottom .navbar-nav .nav-item a {
    font-size: 0.9rem;
  }
}

@media (max-width: 390px) {
  header nav .header-bottom .navbar-nav .nav-item a {
    font-size: 0.8rem;
  }
}

header nav .product-type-link {
  position: relative;
  text-decoration: none;
}

header nav .product-type-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

header nav .product-type-link:hover:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

header nav .product-type-link-active {
  position: relative;
  text-decoration: none;
}

header nav .product-type-link-active:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
}

header nav .product-type-link-active:hover:before {
  visibility: visible;
}

#added-item {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 2;
  max-width: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  display: none;
}

#added-item .card {
  border: 5px red solid;
  margin-bottom: 1rem !important;
}

#added-item .card-img-top {
  height: 250px;
  max-width: 245px;
  height: auto;
  margin: auto;
  display: block;
}

#added-item-text {
  font-weight: bold;
}

.cart-button {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 35px;
  z-index: 3;
}

.cart-button .white-space {
  background-color: white;
  padding: 5px 10px;
  border-radius: 5px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.cart-button .white-space a {
  color: black;
  text-decoration: none;
}

.cart-button .white-space a span {
  margin-left: 5px;
  font-weight: bold;
}

