@-webkit-keyframes truckMoveIn {
  0% {
    -webkit-transform: translateX(-500%) rotateY(180deg);
            transform: translateX(-500%) rotateY(180deg);
  }

  100% {
    -webkit-transform: translate(0) rotateY(180deg);
            transform: translate(0) rotateY(180deg);
  }
}

@keyframes truckMoveIn {
  0% {
    -webkit-transform: translateX(-500%) rotateY(180deg);
            transform: translateX(-500%) rotateY(180deg);
  }

  100% {
    -webkit-transform: translate(0) rotateY(180deg);
            transform: translate(0) rotateY(180deg);
  }
}

@-webkit-keyframes iconShown1 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  5% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  10% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes iconShown1 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  5% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  10% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes iconShown2 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  15% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  20% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes iconShown2 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  15% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  20% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes iconShown3 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  25% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  30% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes iconShown3 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  25% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  30% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes iconShown4 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  35% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  40% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes iconShown4 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  35% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  40% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes iconShown5 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  45% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  50% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes iconShown5 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  45% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  50% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes iconShown6 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  55% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  60% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes iconShown6 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  55% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  60% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes iconShown7 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  65% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  70% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes iconShown7 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  65% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  70% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes iconShown8 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  75% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  80% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes iconShown8 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  75% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  80% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes iconShown9 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  85% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  90% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes iconShown9 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  85% {
    opacity: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  90% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.click-and-collect {
  font-family: Arial, Helvetica, sans-serif;
  margin-right: auto;
  margin-left: auto;
  width: 83.3%;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  color: #444;
}

.click-and-collect__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
  padding: 25px 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: #003a74;
  text-align: center;
}

.click-and-collect__header p {
  margin-bottom: 0;
}

.click-and-collect__header span {
  color: #d33333;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.click-and-collect__top-icons {
  margin: 0 -10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.click-and-collect__top-icons div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  margin: 0 5px 15px 5px;
  -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.1);
  width: calc(100% - 10px);
  vertical-align: middle;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 768px) {
  .click-and-collect__top-icons div {
    width: calc(33.33333% - 10px);
  }
}

.click-and-collect__top-icons div i {
  color: #f12e18;
  font-size: 45px;
  padding: 15px 0 15px 15px;
  width: 60px;
  text-indent: 0;
  height: auto;
  background: none;
}

.click-and-collect__top-icons div h2 {
  font-size: 16px !important;
  font-weight: bold;
  color: #003a74;
  padding: 15px;
  text-transform: uppercase;
  margin: 0;
}

.click-and-collect__heading {
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

.click-and-collect__heading h2 {
  padding: 10px;
  margin: 0;
  font-size: 18px !important;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

@media (min-width: 768px) {
  .click-and-collect__heading h2 {
    font-size: 25px !important;
  }
}

.click-and-collect__heading .red {
  background: #f12e18;
}

.click-and-collect__heading .blue {
  background: #003a74;
}

.click-and-collect__description-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 10px 0;
}

.click-and-collect__description-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: calc(100% - 10px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin: 10px 0;
}

@media (min-width: 900px) {
  .click-and-collect__description-item {
    min-height: 386px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: calc(25% - 10px);
  }
}

.click-and-collect__description-item i {
  color: #d33333;
  font-size: 45px;
  vertical-align: middle;
  text-indent: 0;
  height: auto;
  background: none;
}

@media (min-width: 900px) {
  .click-and-collect__description-item i {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 10px;
  }
}

@media (min-width: 900px) {
  .click-and-collect__description-item i:before {
    background: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.1);
    padding: 13px;
    display: inline-block;
    width: 71px;
  }
}

.click-and-collect__description-item ul {
  margin: 0;
  padding-left: 30px;
}

.click-and-collect__description-item li {
  padding-bottom: 14px;
  font-size: 12px;
  line-height: 1.3;
  list-style: initial;
}

@media (max-width: 900px) {
  .click-and-collect__description-textarea {
    padding-left: 15px;
  }
}

.click-and-collect__description-heading {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 20px;
}

@media (min-width: 900px) {
  .click-and-collect__description-heading {
    text-align: center;
  }
}

.click-and-collect__description-icon-wrapper {
  min-width: 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.delivery {
  font-family: Arial, Helvetica, sans-serif;
  margin-right: auto;
  margin-left: auto;
  width: 83.3%;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  color: #444;
}

.delivery__header {
  padding: 25px 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: #003a74;
  text-align: center;
  max-width: 900px;
  margin: auto;
}

.delivery__header h2 {
  padding: 10px;
  margin: 0;
  font-weight: bold;
}

@media (max-width: 670px) {
  .delivery__header h2 {
    font-size: 30px;
  }
}

@media (min-width: 670px) and (max-width: 750px) {
  .delivery__header h2 {
    font-size: 40px;
  }
}

@media (min-width: 750px) and (max-width: 800px) {
  .delivery__header h2 {
    font-size: 45px;
  }
}

@media (min-width: 800px) and (max-width: 930px) {
  .delivery__header h2 {
    font-size: 50px;
  }
}

@media (min-width: 930px) {
  .delivery__header h2 {
    font-size: 60px;
  }
}

.delivery_icons {
  max-width: 900px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.delivery_icons i {
  color: #f12e18;
}

.delivery_icons i:nth-child(1) {
  font-size: 5vw;
  -webkit-animation-name: iconShown1;
          animation-name: iconShown1;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 5.5s;
          animation-duration: 5.5s;
}

.delivery_icons i:nth-child(2) {
  font-size: 5vw;
  -webkit-animation-name: iconShown2;
          animation-name: iconShown2;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 5.5s;
          animation-duration: 5.5s;
}

.delivery_icons i:nth-child(3) {
  font-size: 5vw;
  -webkit-animation-name: iconShown3;
          animation-name: iconShown3;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 5.5s;
          animation-duration: 5.5s;
}

.delivery_icons i:nth-child(4) {
  font-size: 5vw;
  -webkit-animation-name: iconShown4;
          animation-name: iconShown4;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 5.5s;
          animation-duration: 5.5s;
}

.delivery_icons i:nth-child(5) {
  font-size: 5vw;
  -webkit-animation-name: iconShown5;
          animation-name: iconShown5;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 5.5s;
          animation-duration: 5.5s;
}

.delivery_icons i:nth-child(6) {
  font-size: 5vw;
  -webkit-animation-name: iconShown6;
          animation-name: iconShown6;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 5.5s;
          animation-duration: 5.5s;
}

.delivery_icons i:nth-child(7) {
  font-size: 5vw;
  -webkit-animation-name: iconShown7;
          animation-name: iconShown7;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 5.5s;
          animation-duration: 5.5s;
}

.delivery_icons i:nth-child(8) {
  font-size: 5vw;
  -webkit-animation-name: iconShown8;
          animation-name: iconShown8;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 5.5s;
          animation-duration: 5.5s;
}

.delivery_icons i:nth-child(9) {
  font-size: 5vw;
  -webkit-animation-name: iconShown9;
          animation-name: iconShown9;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 5.5s;
          animation-duration: 5.5s;
}

.delivery_icons .fa-truck {
  font-size: 12vw;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-animation-name: truckMoveIn;
          animation-name: truckMoveIn;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.delivery__table-header {
  font-weight: bold;
  text-transform: uppercase;
}

.delivery__table .delivery-options {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.delivery__table tr {
  border-bottom: 1px solid #dee2e6;
}

.container.marketing hr {
  margin: 30px 0;
}

.container.marketing h1 {
  font-weight: bold;
}

.container.marketing .delivery-order-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container.marketing .delivery-order-info-item {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 1.5rem;
  text-align: center;
}

@media (min-width: 992px) {
  .container.marketing .delivery-order-info-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333333%;
            flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
}

.container.marketing .delivery-order-info-item a {
  font-weight: bold;
  color: red;
}

.container.marketing .delivery-order-info-description {
  min-height: 60px;
}

.container.marketing .delivery-order-info-description p {
  margin: 0;
}

.container.marketing .bundle-container,
.container.marketing .product-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

.container.marketing .bundle-container .card-wrapper,
.container.marketing .product-container .card-wrapper {
  padding: 0 15px;
}

@media (min-width: 1000px) {
  .container.marketing .bundle-container .card-wrapper,
  .container.marketing .product-container .card-wrapper {
    width: 25%;
  }
}

@media (max-width: 1000px) {
  .container.marketing .bundle-container .card-wrapper,
  .container.marketing .product-container .card-wrapper {
    width: 50%;
  }
}

.card-text {
  font-weight: bold;
  height: 34px;
}

.order-and-payment {
  font-family: Arial, Helvetica, sans-serif;
  margin-right: auto;
  margin-left: auto;
  width: 83.3%;
  position: relative;
  margin: auto;
  padding-top: 50px;
}

.order-and-payment h1 {
  font-weight: bold;
}

header {
  border-top: 11px #d2232a solid;
  background: #252d6c;
}

header nav {
  min-height: 120px;
  max-width: 1140px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

header nav .header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

header nav .header-top .logo {
  width: 30%;
  padding-left: 15px;
}

header nav .header-top .search-box {
  width: 50%;
}

@media (max-width: 800px) {
  header nav .header-top .search-box form {
    display: none;
  }
}

header nav .header-top .search-box form input {
  width: calc(100% - 50px);
}

header nav .header-top .basket {
  width: 20%;
}

header nav .header-top .basket div {
  max-width: 100px;
}

header nav .header-top .basket .white-space {
  background-color: white;
  padding: 5px 10px;
  border-radius: 5px 5px 0 0;
  height: 40px;
  margin-left: auto;
  margin-right: 15px;
}

header nav .header-top .basket .white-space span {
  margin-left: 15px;
  font-weight: bold;
}

header nav .header-top .basket .red-space {
  padding: 10px 10px;
  border-radius: 0 0 5px 5px;
  background-color: red;
  height: 40px;
  color: white;
  font-weight: bold;
  margin-left: auto;
  margin-right: 15px;
}

header nav .header-top .basket .red-space .checkout-link {
  color: white;
  text-decoration: none;
}

@media (max-width: 570px) {
  header nav .header-top .basket .red-space .checkout-link {
    font-size: 0.7rem;
  }
}

header nav .header-bottom .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header nav .header-bottom .navbar-nav .nav-item {
  padding: 15px 11px 15px 15px;
}

header nav .header-bottom .navbar-nav .nav-item a {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

header nav .product-type-link {
  position: relative;
  text-decoration: none;
}

header nav .product-type-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

header nav .product-type-link:hover:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

header nav .product-type-link-active {
  position: relative;
  text-decoration: none;
}

header nav .product-type-link-active:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
}

header nav .product-type-link-active:hover:before {
  visibility: visible;
}

